body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3vw;
  background: #000;
  color: #fff;
}

html, body, #root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;

  width: 100%;

  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
